.authorization {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 366px;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__item {
    height: 54px;
    padding: 13px 15px;
    margin-bottom: 3px;

    font-size: 16px;
    border: 1px solid #1A73E8;
    border-radius: 4px;

    &:focus,
    &:active {
      outline-color: #4285F4;
    }
  }

  &__button {
    height: 54px;

    font-size: 16px;
    color: white;
    background-color: #1A73E8;
    border: 1px solid black;
    border-radius: 4px;

    cursor: pointer;

    &:hover {
      background-color: #2864b7;
    }
  }

  &__error {
    position: absolute;
    color: #E25544;
  }
}
